body {
  height: 100vh;
  color: white;
  background-color: black;
  font-family: Helvetica; sans-serif;
  margin: 1.5em;
  line-height: 1.4;
}

h4 {
  color: red;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: blue;
}
