body {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  color: white;
  background-color: black;
  font-family: sans-serif;
  margin: 1.5em;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: blue;
}

h4 {
  margin-block-start: 0em;
}
