body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  color: white;
  background-color: black;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-family: sans-serif;
  text-align: center;
}

footer {
  color: white;
}
